Project_1/Config
Project_1/DerivedDataCache
Project_1/Intermediate
Project_1/Script
Project_1/Saved
Project_1/Content/Blueprints
Project_1/Content/Developers
Project_1/Content/L10N
Project_1/Content/StarterContent